
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-top: 70px;
  letter-spacing: .5px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 25px;
  font-weight: 400;
  border-radius: 50px;
  letter-spacing: 0.2px;
  letter-spacing: .5px;
}
@media (max-width: 968px) {
  .small-text {
    color: #5b5b5b;
    font-size: 15px;
    font-weight: 400;
    border-radius: 50px;
    letter-spacing: 0.2px;
    letter-spacing: .5px;
  }
 
}


ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
  letter-spacing: .5px;
}
a:hover {
  color: #0ea0ff !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
  letter-spacing: .5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: .5px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #0ea0ff;
}
.custom-btn.custom-btn-bg {
  background: #3c347c;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #0ea0ff;
  color: #ffffff !important;
}

.animated {
  margin-top: 10px;
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  min-width: 400px;
  position: relative;
}

.animated-item {
  color: #0ea0ff;
}

.animated-item {
  /* font-size: 20px; */
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 10s linear infinite 0s; /* Update total animation time to 10s */
}
.animated-item:nth-child(2) {
  animation-delay: 2s; /* Adjust delay for each item */
}
.animated-item:nth-child(3) {
  animation-delay: 4s;
}
.animated-item:nth-child(4) {
  animation-delay: 6s;
}
.animated-item:nth-child(5) {
  animation-delay: 8s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
  color: white!important;
  letter-spacing: .8px;

}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  color:white!important;

}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
.navbar-brand:hover{
  color: black !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000!important;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  /* right: 6px; */
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  color: white!important;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #0ea0ff;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 9px;
}

.timeline-yr {
  background: #0ea0ff;
  border-radius: 100%;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 75px;
  text-align: center;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  /* max-width: 432px; */
  margin-left: 2em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #0ea0ff;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #0ea0ff;
}
.contact-form .submit-btn {
  background: #0ea0ff;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #0ea0ff;
}

.social-links-icons a{
  color: #000;
  font-size: 20px;
  margin: 5px 0;

}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
.about-image img {
  margin-top: 4em;
  border-radius: 50%;
  height: 300px;
  border: 2px solid #0ea0ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    /* background: #ffffff; */
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 2px;
        text-align: left;
        height: 100%;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 300px;
	}
  .animated-item {
    font-size: 25px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
}

/* INTRO  */
.expertise{
  color: black;
  font-weight: 500;
}

.dark-mode .expertise{
  color: white;
  font-weight: 500;
}
.dark-mode p{
  color: #bdbdbd;
  font-weight: 500;
}
.hidden {
  display: none;
}

.p-anchor{
  color:#5b5b5b;
}
.intro-icons i{
  font-size: 25px;
  /* background:linear-gradient(120deg, #7f70f5, #0ea0ff) ; */
  /* padding: 10px; */
  /* border-radius: 50%; */
  color: white;
}
.intro-icons i:hover{
  color: black;
}
.social-links-icons, .color-mode {
  display: flex;
  align-items: center;
}

.social-links-icons a {
    margin-right: 15px; /* Adjust spacing between icons if needed */
}

.color-mode {
    margin-left: 0px; /* Adjust spacing between icons and color mode toggle if needed */
}

/* Hide social links on mobile view */
@media (max-width: 767px) {
    .social-links-icons {
        display: none;
    }
}
@media (min-width: 768px) {
    .hero-icons {
        display: none;
    }
}

/* INTRO  */

#skills {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../images/project/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#skills .container {
  position: relative;
  z-index: 1;
}

#skills i{
  font-size: 25px;
  background: linear-gradient(120deg, #7f70f5, #0ea0ff) ;
  color: #fff;
  height: 70px;
  width: 70px;
  line-height: 69px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

/* highlight text */

.highlight {
  position: relative;
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  background-repeat: no-repeat;
  transition: background-size 1s;
  padding: 4px;
}

.in-view .highlight {
  background-size: 100% 100%;
}

/* icon  */
#contact{
  padding-bottom: 120px;
  padding-top: 120px;
}
.dark-mode .p-anchor{
  color: white;
}
#contact i{
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  padding: 10px;
  border-radius: 50%;
  color: white;
}
/* icon  */
/*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  #projects .title{
    color: black;
  }
 
  #projects{
    margin-top: 120px;
    margin-bottom: 120px;
  }
  #projects h3 {
    font-weight: 700;
    font-size: 34px;
    /* color:  #a8b2d1; */
  }
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    /* color: #a8b2d1; */
  }
  .services .tag-text small{
    color:#5b5b5b;
  }
  .project-image {
    box-shadow: 0 4px 8px rgba(44, 44, 44, 0.2); 
    border-radius: 8px; 
  }
  
  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0  0 40px 0;
    background: rgba(68, 88, 144, 0.1);
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid #fff;
  }
  
  .services .icon-box:hover {
    transform: translateY(-5px);
    border-color:  #0ea0ff;
  }
  
  .services .icon a {
    line-height: 1;
    margin-bottom: 15px;
    color:  #0ea0ff;
  }
  .services .icon i:hover {
    margin-bottom: 15px;
    color: #fff;
  }

  .services .title a {
    color: #111;
  }
  
  .services .description {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .brandBtn{
    padding: 10px 28px;
    border: 1px solid  #9e9a9a;
    color: white;
    background-color: #0c0c0c;
  }
  
  .brandBtn:hover{
    padding: 10px 28px;
    border: 1px solid #0ea0ff;
    color: #0ea0ff;
    background-color: #64ffdb00;
  }
  
@media (max-width: 968px) {
  .color-mode-header{
    display: none;
  }
 
}
.read-more-btn {
  background-color: rgba(68, 88, 144, 0.1);
  color: black;
  border: none;
  /* padding: 5px 10px; */
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.read-more-btn:hover {
  background-color: rgba(68, 88, 144, 0.1);
  border: none;

}
/* footer  */
footer{
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
}
footer p{
  color: white;
}
footer i{
  font-size: 25px;
}
footer i:hover{
  color: white!important;
}

.social-links-icons-footer i{
  color: white;
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  padding: 10px;
  border-radius: 50%;

}
.contact-header{
  font-weight: 600;
}
/* footer  */
/* DARK MODE  */

.dark-mode {
  background: #121212;
}
.dark-mode .short-text{
  color:#bdbdbd;
}
.dark-mode .more-text{
  padding: 25px 25px;
  color:#bdbdbd;
}
.dark-mode .read-more-btn{
  color:#bdbdbd;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #0ea0ff;
}
.dark-mode .social-links-icons a{
  color: white;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}
.dark-mode #projects .title{
  color: white;
}
.dark-mode .brandBtn{
  padding: 10px 28px;
  border: 1px solid #0ea0ff;
  color: #0ea0ff;
  background-color: rgba(255, 255, 255, 0);
}

.dark-mode .brandBtn:hover{
  padding: 10px 28px;
  border: 1px solid #fff;
  background-color: black;
}
.dark-mode-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
  background: conic-gradient(rgba(29, 29, 29, 0.767) 0% 50%, rgba(160, 158, 158, 0.753) 50% 100%);

  /* background: conic-gradient(rgba(0, 0, 0, 0.473) 0% 50%, white 50% 100%); */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dark-mode .dark-mode-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
  background: conic-gradient(rgba(29, 29, 29, 0.473) 0% 50%, rgba(160, 158, 158, 0.753) 50% 100%);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 968px) {
.dark-mode-btn{
  display:none;
}
.dark-mode .dark-mode-btn{
  display:none;
}
.color-mode{
  display: none;
}
}

.dark-mode footer p{
  color: white;
}
